

header {
    background-color: darkblue;
	padding-top: 30px;
	padding-bottom: 10px;
	padding-left: 15px;
    Font-Size: 60px;
    color: white;
    font-family: Georgia;
    text-align: center;
}

nav {
	background-color: lightblue;
	padding: 10px;
    text-align: center;
}

nav a:hover {
    Color: darkblue;
	background-color:white;
}

main {
	background-color:lightgrey;
	color: black;
	padding-top: 5px;
	padding-bottom: 30px;
	padding-left: 15px;
	margin-top: 0px;
	margin-bottom: 10px;
    font-size: 16px;
}


h2 {
    font-family: Georgia;
    color: black;
    font-size: 40px;
    text-align: center;
}
    
h1 {
    font-family: Georgia;
    color: black;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}

p {
    font-family: Georgia;
    color: black;
    font-size: 30px;
    text-align: center;
 
}

a:link {
	text-decoration: none;
	color: white;
}

/* Forms */

label {
	font-weight: bold;
}

input, textarea {
	margin-top: 10px;
}

#border{
    border-color: turquoise;
    border-style: solid;
}
.borders{
    border-color: turquoise;
    border-style: solid;
}